body.dark-theme.fixed {
    background: transparent !important;
    text-align: center;
}
div#announcement-bar .pageWidth {
    font-size: 11pt;
}

div#announcement-bar {
    padding: 20px 5000px;
    margin: 0px -5000px;
}
#enjin-bar {
    display: none !important;
}

#page-footer {
    display: none !important;
}

.body-wrap-3 {
    overflow: hidden !important;
}

.m_html div {
    font-family: 'Open Sans', sans-serif;
}
body > .user_tray, body > .user_tray .button_window .window_page, body > .user_tray .window_filled .box .box_data, body > .user_tray .button_window .window_message_tab span, #enjin-tray-messaging, .chat-container-user, .chat-container-user .contents .input-area input[type="text"], #enjin-tray-chat-user-hint {
    display: none !important;
}

.m_html {
    text-align: center;
}
body {
	margin:0px;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
}
html {
    position: relative;
    min-height: 100%;
    background: #39a0d8;
}
html:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://i.imgur.com/tK8aM5v.jpg);
	background-attachment: fixed;
	background-size: cover;
	max-height: 100%;
    z-index: 0;
    opacity: 0.15;
}
#portal-logo {
    position: relative;
    z-index: 5;
}
#portal-logo li {
    list-style: none;
    max-width: 345px;
    margin: 0 auto;
}
@keyframes logoAnim {
    from {
		-ms-transform: scale(1, 1); /* IE 9 */
		-webkit-transform: scale(1, 1); /* Safari */
		transform: scale(1, 1);
	}
    to {
		-ms-transform: scale(1.02, 1.02); /* IE 9 */
		-webkit-transform: scale(1.02, 1.02); /* Safari */
		transform: scale(1.05, 1.05);
	}
}

#portal-logo li img {
    max-width: 100%;
    padding-top: 18vh;
    animation-name: logoAnim;
    animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#player-count {
    position: relative;
    z-index: 5;
    color: white;
    margin-top: 45px;
	font-size: 10pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
}
#player-count {
    font-weight: 100;
}
.connect {
    font-weight: 600;
}
span#player-count {
    font-weight: 600 !important;
}
#copy-ip {
    background: #e67526;
    font-size: 8pt;
    font-weight: 600;
    padding: 6px 10px;
    position: relative;
    top: -1px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 100px;
}
#players .inner {
    display: inline-block;
	background: rgba(9, 42, 59, 1);
    padding: 14px 28px;
    border-radius: 100px;
}
div#portal-links li a {
    border-radius: 4px;
}
span#player-count {
    margin: 0px 2px;
}
div#portal-links {
    position: relative;
    z-index: 5;
    display: inline-block;
    margin-top: 30px;
}

div#portal-links li {
    list-style: none;
    float: left;
}

div#portal-links li a {
    display: block;
    background: rgb(8, 42, 59);
    color: white !important;
    margin: 0px 10px;
    text-decoration: none !important;
    min-width: 120px;
    padding: 14px 10px;
    font-weight: 600;
    font-size: 11pt;
}
.play-video {
    display: inline-block;
    background: #072a3b;
    line-height: 46px;
    width: 46px;
    border-radius: 100px;
    margin-left: 10px;
}
.play-video {
    position: relative;
    cursor: pointer;
}

.play-video i {
    position: relative;
    left: 1px;
    font-size: 11pt;
    top: 0px;
}
.play-video:hover {
    background: #144963;
}

div#portal-links li a:hover {
    background: #144963;
}
#copy-ip {
    transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
}
#copy-ip:hover {
    background: #f78b40;
}
.play-video {
    transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
}

#portal-links li a {
    transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
}
.video-modal .swal2-icon {
    display: none !important;
}
.video-modal.swal2-modal {
    min-height: 0px !important;
    width: 100% !important;
    max-width: 720px !important;
    padding: 10px !important;
    padding-top: 12px !important;
    padding-bottom: 8px !important;
}
.video-modal.swal2-modal .swal2-title {
    display: none !important;
}
.video-modal.swal2-modal iframe {
    border-radius:4px;
}
.swal2-modal.ip-copied {
    max-width: 274px;
}
span#player-online {
    color: #ff9a53;
    font-weight: 700;
}
.swal2-modal .swal2-content {
    font-size: 11pt;
    color: #9c9c9c;
}
div#announcement-bar {
    background: rgba(255, 255, 255, 0.35);
    color: white !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 55;
    padding: 20px;
}
div#announcement-bar i {
    background: rgb(8, 42, 59);
    padding: 7px;
    border-radius: 100px !important;
    margin-right: 7px;
    font-size: 11pt;
}
div#announcement-bar .pageWidth {
    max-width: 1000px;
    margin: 0 auto;
}